.articles-main-section {
	width: 70%;
	margin-left: 14%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0.2rem;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

ul {
	list-style: none;
	background-color: DarkGrey;
	padding: 0.5rem;
	border-width: 1px;
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
}
.article-list-item {
	background-color: WhiteSmoke;
	margin: 1.2rem;
	margin-bottom: 1.5rem;
	border-color: Crimson;
	border-style: solid;
	border-width: 1px;
	background: linear-gradient(
		to right,
		#e78690,
		#ffffff,
		#ffffff,
		#ffffff,
		#ffffff,
		#ffffff,
		#ffffff,
		#ffffff,
		#ffffff,
		#ffffff,
		#ffffff,
		#ffffff
	);
}
li {
	padding: 0.5rem;
	font-size: 0.7rem;
	text-align: left;
}
.article-title {
	color: Crimson;
	font-weight: bold;
	font-size: 0.8rem;
	margin-top: 1rem;
}
.article-details {
	text-align: left;
	margin-top: 1rem;
	margin-right: 0.5rem;
}
.article-header-section {
	background-color: Crimson;
	color: WhiteSmoke;
	padding: 2rem;
	display: flex;
	flex-direction: row;
}
.article-header-title {
	font-weight: bold;
	font-size: 1.2rem;
	width: 80%;
}
.header-date {
	float: right;
	font-size: 0.9rem;
}
.article-date {
	font-weight: bold;
}
