.article-table {
	table-layout: fixed;
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}
caption {
	font-size: 2rem;
	font-weight: bold;
	margin: 1rem;
}
thead th:nth-child(1) {
	width: 10%;
}

thead th:nth-child(2) {
	width: 10%;
}

thead th:nth-child(3) {
	width: 15%;
}

thead th:nth-child(4) {
	width: 22%;
}

th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}
th,
td {
	padding: 1rem;
}
