.App {
}
.article-section {
	width: 50%;
	margin-left: 25%;
}
h2 {
	margin: 1rem;
	text-align: center;
	font-weight: bold;
}
.article-image {
	height: 50%;
	width: 50%;
}
.image-section {
	text-align: center;
}
.author-section {
	margin-left: 2rem;
	text-align: left;
}
.date-section {
	margin-left: 2rem;
}
article {
	margin: 2rem;
	text-align: justify;
}
